{% extends "base.html.twig" %}

{% block body %}

    <h1 class="text-center mt-5">Affichage des médicaments</h1>
    <table class="content-table">
        <thead>
            <tr class="bg-dark">
                <th>Nom commercial</th>
                <th>Composition</th>
                <th>Effets</th>
                <th>Contre-indications</th>
                <th>Famille</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for medicament in liste_medicaments %}
                <tr>
                    <td>{{ medicament.NomCommercial }}</td>
                    <td>{{ medicament.composition }}</td>
                    <td>{{ medicament.effets }}</td>
                    <td>{{ medicament.ContreIndications }}</td>
                    <td>{{ medicament.famille }}</td>
                    <td class="text-center">{{ medicament.PrixEchantillon }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}